@use "./base.scss";

// put your custom CSS here!

// html {
//     font-size: 120%;
// }

tbody,
li,
p {
    line-height: 1.5rem;
    word-spacing: 0.1rem; 
}

h6 {
    font-size: 1.55rem;
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    // font-family: var(--headerFont);
    color: var(--dark);
    font-weight: revert;
    letter-spacing: 0.2px;
    line-height: 2.1rem !important;
    font-weight: 100;
    word-spacing: 0.25rem; 
  }

.page {
  & article {
    & > h1 {
      font-size: 3rem;
    }
    }
}