@use "./base.scss";

// put your custom CSS here!

// html {
//     font-size: 120%;
// }

tbody,
li,
p {
    line-height: 1.5rem;
    word-spacing: 0.1rem; 
}

h6 {
    font-size: 1.25rem;
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    // font-family: var(--headerFont);
    color: var(--dark);
    font-weight: revert;
    letter-spacing: 0.2px;
    line-height: 1.8rem !important;
    font-weight: 100;
    word-spacing: 0.25rem; 
  }

.page {
  & article {
    & > h1 {
      font-size: 3rem;
    }
    }
}

.callout {
  &[data-callout="post"] {
    --color: var(--secondary);
    --border: var(--darkgray);
    --bg: var(--light);
    --callout-icon: url("data:image/svg+xml,%3Csvg fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M288 0H160 128C110.3 0 96 14.3 96 32s14.3 32 32 32V196.8c0 11.8-3.3 23.5-9.5 33.5L10.3 406.2C3.6 417.2 0 429.7 0 442.6C0 480.9 31.1 512 69.4 512H378.6c38.3 0 69.4-31.1 69.4-69.4c0-12.8-3.6-25.4-10.3-36.4L329.5 230.4c-6.2-10.1-9.5-21.7-9.5-33.5V64c17.7 0 32-14.3 32-32s-14.3-32-32-32H288zM192 196.8V64h64V196.8c0 23.7 6.6 46.9 19 67.1L309.5 320h-171L173 263.9c12.4-20.2 19-43.4 19-67.1z' /%3E%3C/svg%3E"); //SVG icon code

     p {
      color: var(--color);
      margin: 0;
    }

    .callout-title {
      display: none;
    }

    .callout-content {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}

.icon-box {

  svg {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
  }
}